@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@theme {
  --color-brand: #006c4f;
  --color-background: #eaeaea;

  /* Puedes agregar variantes si quieres */
  --color-brand-light: #009b71;
  --color-brand-dark: #004d38;
}
